<div class="container">
<h1>hello</h1>

    <%= link_to 'Generate pdf', match_contract_path(@contract), :format => :pdf, :target=>'blank', class: "btn-style-01 p-3 text-white rounded text-uppercase" %>

</div>

