<h2 class="h6"><%= flat.title %></h2>
<p><%= flat.address %></p>
<p class="mb-0"><%= image_tag  "https://kitt.lewagon.com/placeholder/users/random", class: " avatar rounded-circle mr-2" %> Proposed by <span class="text-primary"><%= flat.user.name %></span> </p>
