<div class="sent-message-container">

<p><%=  message.created_at.strftime("%a %b %e at %l:%M%p") %></p>
<div class="sent-message d-flex">
  <div>
    <p><%= message.content %></p>
  </div>
</div>
</div>
