 <div class="message">
    <div class="d-flex align-items-end p-3 my-2 sent">
       <div class="message-content">
         <p class="message-text"><%= message.content %></p>
         <span class="message-meta"><%=  message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
       </div>
   </div>
 </div>
