
<section>
  <div class="ending-banner rounded-lg" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>Bravo!</h1>
      <p>You haved successfully exchanged your Flat in Madrid with <%= %>!</p>
    </div>
  </div>
</section>
<div class="container">
  <div class="recap">
    <div class="row">
      <div class="mx-auto col-8">
        <h3 class="text-center">What's <span class="text-primary">now ?</span></h3>

        <p><i class="fas fa-check-square mr-3 text-primary"></i>The exchange will start october 2021</p>
        <p><i class="fas fa-check-square mr-3 text-primary"></i>Don't forget to send tips and usefull informations to your exchange partner (How to get keys, trash days, digits etc.)</p>
        <p><i class="fas fa-check-square mr-3 text-primary"></i>Be prepared for the exchange day (have you forgot anything ?)</p>
        <p><i class="fas fa-check-square mr-3 text-primary"></i>Enjoy your new life abroad! ;) </p>

      <div class="middle-card">
        <h5 class="text-center">Please find below the information about your future apartment</h5>
        <div class="row ">
          <div class="col-6">
            <h5>Flat</h5>
            <p><span class="text-primary">Address</span></p>
            <p>LIEN A CREER</p>
            <p><span class="text-primary">Further information</span></p>
            <p>LIEN A CREER</p>
          </div>
          <div class="col-6">
            <h5>Lanlord contact</h5>
            <p><span class="text-primary">Phone</span></p>
            <p>LIEN A CREER</p>
            <p><span class="text-primary">mail</span></p>
            <p>LIEN A CREER</p>
          </div>
        </div>
      </div>
      <div class="card-contact">
        <%= image_tag "building.svg", class: "rounded bg-white p-4 box-shadow-custom mb-5 " %>
        <div class="card-contact-infos">
          <h6>Any <span class="text-primary">questions ?</span></h6>
          <h6>if you have any question regarding your exchange, please</h6>
          <h6><span class="text-primary">contact us</span></h6>
        </div>
      </div>
</div>
    </div>
  </div>
    <div class="text-center my-5">
      <h5>Do you need <span class="text-primary">tips and information</span>about your studies and life abroad?</h5>
      <h5>The many post of our <span class="text-primary">blog</span> could interest you !</h5>
    </div>
      <div class="row mx-0 mb-5">
        <div class="col-12">
          <div class="card-deck">

            <div class="card " style="width: 15rem;">
              <img class="card-img-top" src="https://picsum.photos/100/100" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="https://picsum.photos/100/100" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="https://picsum.photos/100/100" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="https://picsum.photos/100/100" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

      </div>



</div>















