<hr>
<hr>
<hr>
<div  class="puff-in-center modal  bd-example-modal-lg" id="ContractSigned" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content match-modal-container p-5 box-shadow-custom-lg">
        <div class="match-modal-content">
          <p class="text-left">
            <i class="heartbeat h4 text-white fas fa-heart"></i>
          </p>
          <p class="text-right">
            <i class="heartbeat h4 text-white fas fa-heart"></i>
          </p>
          <h1 class="puff-in-center-2 display-3 text-center text-white font-weight-bold mb-0 ">CONGRATS !</h1>
          <h2 class="puff-in-center-2 display-3 text-center text-white font-weight-bold mb-0 ">Flatender is born</h2>
          <h3 class="puff-in-center-2 h3 text-center text-white f font-weight-bold mb-3">MANY THANKS TO OUR WONDERFUL TEACHERS AND OUR GREAT TEAM</h3>

      </div>
    </div>
  </div>
</div>

