ul.d-flex.justify-content-between.closing-modal {
    list-style-type: none;
}

.match-modal-container.closing-modal {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
}

img.mr-4.closing-modal {
    width: 58px;
}

.batch {
    position: absolute;
    top: 1;
    bottom: 12px;
    left: 606px;
}

.lewagon-logo {
    width: 129px;
    position: absolute;
    bottom: 15px;
    left: 29px;
}
