.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

#photo-preview {
  margin-bottom: 24px;
}

.main-img img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}




div.thumb-img a:first-child img,  {
  border-bottom-left-radius: 1rem;

}

div.thumb-img a:last-child img,  {
  border-bottom-right-radius: 1rem;

}
