
.contract-container {
  display: block;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.fla {
  color: #e83a59;
  font-size: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;


}

span.tender {
  color: #4b154a;
  font-size: 70px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;

}

#pdf-title {
  color: #e83a59;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;

}

.purple {
  color: #4b154a
}

.pink {
  color: #e83a59
}

.terms {
    font-size: 20px;
}

.service {
    font-size: 20px;
}

.contract-end-page {
    text-align: right;
}



